html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    display: block;
}
div {
    margin: 100;
    padding: 100;
    align-items: center;
}